.collapse {
  width: 100%;
  position: relative;

  &__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #FF6060;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  &__icon {
    transition: transform 0.3s ease;
    width: 20px;

    &--rotate {
      transform: rotate(180deg);
    }
  }


  &__content {
    background: #F6F6F6;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin: 0.5rem 0;
  }
}


@media (max-width: 768px) {
  .collapse {
    height: 30px;


    &__btn {
      padding: 0.5rem;
    }

    &__content {
      padding: 0.5rem;
    }
  }

}