.carousel {
  position: relative;
  width: 100%;
  height: 415px;

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 7rem;
    cursor: pointer;
    z-index: 2;

    &--prev {
      left: 25px;
    }

    &--next {
      right: 25px;
    }
  }

  &__counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2rem;
  }
}

.housing__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}