.main-template {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  max-width: 1440px;
  margin: 0 auto; /* Ajout pour centrer le header */
  width: 100%; /* Assure que le header prend toute la largeur disponible */
}

@media (max-width: 600px) {
  .main-template {
    padding: 1rem;
  }
}

